@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-weight: 700;
}

label {
    font-weight: 600;
}

h1 {
    width: 280px;
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: 20px;
    font-size: 24px;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.controls .movements {
    display: block;
    padding: 10px;
    width: 458px;
    height: 362px;
    background-color: #ECEEF6;
}

.controls .movements h2 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.controls .movements label {
    font-size: 14px;
}

.controls .movements .amountDate {
    display: flex;
    padding: 5px;
    margin-bottom: 15px;
}

.controls .movements .amounteDate .amount {
    margin-right: 10px;
}

.controls .movements .amountDate .amount label,
.controls .movements .amountDate .date label {
    display: block;
    margin-bottom: 5px;
}

.controls .movements .amountDate .amount input,
.controls .movements .amountDate .date input {
    width: 189px;
    height: 42px;
    padding: 3px;
    border: 1px solid #7A869A;
    border-radius: 10px;
}

.controls .movements .observation label {
    display: block;
    margin-bottom: 5px;
}

.controls .movements .observation input {
    width: 388px;
    height: 42px;
    border: 1px solid #7A869A;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.controls .movements .revenue,
.controls .movements .expense {
    margin-right: 10px;
}

.controls .movements .type label {
    display: block;
    margin-bottom: 10px;
}

.controls .movements .type .expense {
    margin-left: 52px;
}

.controls .movements .type .btn-add {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 138px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: #0889A3;
    border: none;
    margin-top: -35px;
    margin-left: 250px;
    cursor: pointer;
}