@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    width: 280px;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 24px;
}

h1, h2 {
    font-weight: 700;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.movements {
    display: block;
    padding: 10px;
    width: 458px;
    height: 362px;
    background-color: #ECEEF6;
}

.movements h2 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.controls .movements label {
    font-size: 14px;
    font-weight: 600;
}

.movements .amountDate {
    display: flex;
    padding: 5px;
    margin-bottom: 15px;
}

.amountDate .amount {
    margin-right: 10px;
}

.amountDate .amount label,
.amountDate .date label {
    display: block;
    margin-bottom: 5px;
}

.amountDate .amount input,
.amountDate .date input {
    width: 189px;
    height: 42px;
    padding: 3px;
    border: 1px solid #7A869A;
    border-radius: 10px;
}